.shopping-cart {
    width: 750px;
    /* height: 423px; */
    margin: 10px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}


.shopping-cart-title {
    height: 60px;
    /* border-bottom: 1px solid #E1E8EE; */
    padding: 20px 30px;
    /* color: #FFFFFF; */
    color: #000;
    font-size: 24px;
    font-weight: 400;
    /* background-color: #304D30; */
}

.shopping-cart-item {
    padding: 20px 30px;
    /* height: 150px;
    display: flex; */
    display: grid;
    grid-template-columns: 10% 30% 20% 20% 15% 10%;
}

.shopping-cart-item:nth-child(n+3) {
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

.cart-checkbox {
    max-width: 20px;
}

.buttons {
    position: relative;
    /* padding-top: 30px; */
    margin-right: 60px;
}

.cart-delete-btn,
.cart-checkbox {
    display: inline-block;
    Cursor: pointer;
}

.cart-delete-btn {
    width: 18px;
    height: 17px;
}

.like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    background: url('twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
}

.cart-image {
    margin-right: 50px;
}

.description {
    /* padding-top: 10px; */
    margin-right: 60px;
    width: 115px;
}

.description span,
.order-description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.description span:first-child,
.order-description span:first-child {
    margin-bottom: 5px;
}

.description span:last-child,
.order-description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}

.cart-image {
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
}

.quantity {
    /* padding-top: 20px; */
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-quantity {
    /* padding-top: 20px; */
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.cart-delete-btn {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.minus-btn img {
    margin-bottom: 3px;
}

.plus-btn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline: 0;
}

.item-total-price {
    align-self: center;
    /* width: 83px; */
    /* padding-top: 27px; */
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: bold;
}

@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image img {
        width: 50%;
    }

    .image,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }

    .buttons {
        margin-right: 20px;
    }
}

.adjust-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.cart-total-selected-sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #B6C4B6;
    padding: 10px;
    text-align: center;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-cart-container {
    width: 1200px;
    display: grid;
    grid-template-columns: auto 25%;
}

.order-container {
    width: 900px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
    border-radius: 6px;

}

.order-item {
    padding: 20px 30px;
    /* height: 150px;
        display: flex; */
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
}

.shopping-order {
    width: 80%;
    /* height: 423px; */
    margin: 10px auto;
    background: #FFFFFF;

    display: flex;
    flex-direction: column;
    padding: 20px;
}

.order-image {
    width: 60%;
}

.order-description {
    padding-top: 10px;
    margin-right: 10px;
}

.order-item:nth-child(n+3) {
    border-top: 1px solid #E1E8EE;
    border-bottom: 1px solid #E1E8EE;
}

.order-fieldset {
    margin-bottom: 1em !important;
    border: 1px solid #B6C4B6 !important;
    padding: 1px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 1px;
}

.order-legend {
    padding: 1px 10px !important;
    float: none;
    width: auto;
}

.total-checkout {
    padding: 20px 30px;
    /* height: 150px;
        display: flex; */
    display: grid;
    grid-template-columns: 25% 50% 25%;

}

.text-bold {
    font-weight: bold;
    font-size: 20px;
}

.payment-method-group {
    display: grid;
    grid-template-columns: 3% 5% auto;
    grid-column-gap: 10px;
    align-items: center;

}

.payment-method-name {
    font-size: 18px !important;
}

.font-big {
    font-size: 24px !important;
}